<div class = "wrapper">
  <div class = "t-header">
    <div class = "side-header">
      <div class = "set-header">
        <a href = "#"><i class="fas fa-cubes"></i></a>
        <div class = "devise-box">
          <% if user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "log"%>
          <div class = "sign"></div>
          <% else %>
          <%= link_to "ログイン",  new_user_session_path, class: "log"%>
          <%= link_to "新規登録", new_user_registration_path, class: "sign"%>
          <%# <div class = "log-in">ログイン</div> %>
          <%# <div class = "sign-up">新規登録</div> %>
          <% end %>
        </div>
      </div>
      <div class = "name">
        <%= current_user.name %>
        <% if current_user %>
          <p>様 ようこそ</p>
        <% end %>
      </div>
    </div>
  
    <div class = "main-header">
      <div class = "left-header">
        <%= form_with(url: documents_searches_path, method: :get, local: true, class: "form") do |form| %>
          <%= form.text_field :title, placeholder: "資料の検索（検索対象は表題から）資料の登録は画面右下の矢印をクリックです",class: "search-box" %> 
          <%= form.submit "検索", class: 'search-btn'%>
        <% end %>
      </div>
      <div class = "right-header">
        <div class = "favorite">
          <a href = "#"><i class="fas fa-star"></i></a>
        </div>
        <div class = "favorite">
          <a href = "#"><i class="fas fa-bars"></i></a>
          <div class = "bar-box">
            <div class = "bar-contents">
              <div class = "content-btn">
                <div class = "bar btn-0", data-text-default="献立アプリ起動" data-text-clicked="献立アプリ終了">献立アプリ起動</div>
                <div class = "bar btn-1">拡張子</div>
                <div class = "bar">拡張子</div>
                <div class = "bar">拡張子</div>
                <div class = "bar">拡張子</div>
                <div class = "bar">拡張子</div>
                <%# <div class = "bar"></div> %>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
   
  </div>
  
  
    
  <div class = "contents" >
    
    <% @documents.each do |document| %>
      <% if user_signed_in? && current_user.id == document.user_id%>
        <%# <%= render partial: 'default-image', locals: {document: document} %> 
        <div class = "content-box" >
        
          <div class = "body-content">
            <%= link_to "#{document.image.to_s}", target: "_blank", class: "left-content" do %>
              <%= image_tag document.image.to_s, class: "image" %>   
            <% end %>
            <div class = "right-content">
              <div class = "top-box">
                <a href = "#"><i class="far fa-star">お気に入り登録</i></a>
                <%= link_to edit_document_path(document.id), method: :get do %>
                  <i class ="far fa-edit">編集</i>
                <% end %>
                保存日時:<%= simple_time(document.created_at) %>
                <%= link_to document_path(document.id), method: :delete, data: { confirm: '削除しますか？' } do %>
                  <i class="fas fa-trash"></i>
                <% end %>
                <div class = "title"><%= simple_format(document.title) %></div>  
              </div>
              <div class = "bottom-box"><%= simple_format(document.comment) %></div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  
  <div class="footer">
    <div class="footer-btn", data-text-default="&#187;" data-text-clicked="&#171;"><p id = "icon">&#187;</P></div>
    <div class="footer-content">
      <div class = "form-box">
        <div class = "body-form">
          <div class = "left-form">
            <div>スクリーンショット</div>
            <div>キーボード操作</div>
            <div>&#8984; + &#8679;(shift) + 3 (全体)</div>
            <div>&#8984; + &#8679;(shift) + 4 (範囲)</div>
            <div>私的利用以外での使用は</div>
            <div>著作権にご注意ください</div>
          </div>
          <div class = "right-form">
            <div class = "image-area">
              <p class = "image-area__p">no image</p>
              <img id="file-preview">
            </div>
            <%= form_with(model: @document, local: true, mathod: :post, class: "new-message") do |form| %>
            
              <div class = "form-field">
                <%= form.text_area :title, placeholder: "表題を記入して下さい（102文字まで、改行は３行まで推奨）。また右記のアイコンから登録したいpngを選択できます。", class: "comment-field", maxlength: "90"%>
                <%= form.label :image, class: "label-box" do%>
                <%= form.file_field :image, class: "file_field", style: "display: none;" %>
                  <i class="far fa-image"></i>
                <%end%>
              </div>
              <div class = "area-box">
                <%= form.text_area :comment, placeholder: "自由記入欄（160文字まで、改行は５行推奨）ここだけでの保存はできません。画像を入れるか表題を記入してください。", class: "comment-area", maxlength: "130"%>
                <%= form.submit value: "登録", class: "submit"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# ---クッキングアプリ--- z-index: 29; %>

<%= render 'cooking-apri'%>

<%# <% @documents.each do |document| %> 
  <%# <% if user_signed_in? && current_user.id == document.user_id%> 
    <%# <%= render partial: 'default-image', locals: {document: document} %> 
  <%# <% end %> 
<%# <% end %> 
<%# <div class = "content-box">
      <div class = " body-content">
        <div class = "left-content">
          <i class="far fa-image"></i>
        </div>"/tweets/#{tweet.id}/edit"
        <div class = "right-content">
          <div class = "top-box">
            <a href = "#"><i class="far fa-star">お気に入り登録</i></a>
            <a href = "#"><i class="far fa-edit">編集</i></a>
            <a href = "#"><i class="fas fa-trash"></i></a>
            <div class = "title">title</div>
          </div>
          <div class = "bottom-box">comment</div>
        </div>
      </div>
    </div> %>

    <%# :size =>'400x300' %>

