<div class = "wrapper">
  <div class = "header">
    <%= render partial: 'header' %> 
  </div>
  
  <div class = "contents" >
    <%# <% if user_signed_in? == current_user.id%>
    <% @bookmarks.each do |bookmark| %>
      <% if user_signed_in? && current_user.id == bookmark.user.id%>
        <%# <%= render partial: 'default-image', locals: {document: document} %> 
        <div class = "content-box" >
          <div class = "body-content">
            <%= link_to "#{bookmark.document.image.to_s}", target: "_blank", class: "left-content" do %>
              <%= image_tag bookmark.document.image.to_s, class: "image" %>   
            <% end %>
            <div class = "right-content">
              <div class = "top-box">
                <% if user_signed_in? && current_user.id == bookmark.document.user_id %>
                  <div style='display: inline; float: left;'>
                    <%= render 'documents/bookmark_show_area', document: bookmark %>Book mark
                  </div>
                <% end %>
                <%= link_to edit_document_path(bookmark.document.id), method: :get do %>
                  <i class ="far fa-edit">編集</i>
                <% end %>
                保存日時:<%= simple_time(bookmark.document.created_at) %>
                <%= link_to document_path(bookmark.document.id), method: :delete, data: { confirm: '削除しますか？' } do %>
                  <i class="fas fa-trash"></i>
                <% end %>
                <div class = "title"><%= simple_format(bookmark.document.title) %></div>  
              </div>
              <div class = "bottom-box"><%= simple_format(bookmark.document.comment) %></div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <%# <% end %>
  </div>
</div>
<%= render 'cooking-apri'%>

<%# <% if user_signed_in? && current_user.id == @post.user_id %>
  <%# <div class="postManage"> %>
    <%# <%= link_to "編集", edit_post_path(@post.id), class: "postManage__edit" %>
    <%# <%= link_to "削除", post_path(@post.id), method: :delete, class: "postManage__delete" %>
  <%# </div> %>
<%# <% end %>

<%# <div class = "bookmarks"> %>
  <%# <% @bookmarks.each do |book| %>
    <%# <% if user_signed_in? && current_user.id == book.user_id %>
      <%# <%= book.user.nickname %>
      <%# <%= book.id %>
      <%# <%= book.post.title %>
    <%# <% end %>
  <%# <% end %>
  <%# <div class="postText"> %>
    <%# <%= simple_format @post.content%>
  <%# </div> %>